<!DOCTYPE html>
<html land="en">
    <head>
        <meta charset="UTF-8">
        <title>Course list</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <h1>All courses</h1>
        <span>Hi, {{ user.username }} <br><a href="{% url 'logout_view' %}">Logout</a></span>
        <br><a href="{% url 'create_course' %}">Create new course</a>
        <ul>
            {% for course in courses %}
                <li>
                    <strong>{{ course.title }}</strong> — {{ course.description }}<br>
                    Members:
                    {% for m in course.members.all %}
                        {{ m.user.username }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        No members
                    {% endfor %}
                    {% if user.is_authenticated %}
                        <form action="{% url 'enroll_course' course.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Sign up for a course</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </body>
</html>

